@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.text-uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

/* back to top */

.back-to-top {
  color: #333;
  position: fixed;
  bottom: 35px;
  right: 35px;
  font-size: 30px;
  background-color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.back-to-top:hover {
  color: #fff;
  background-color: #333;
}

/* header */

#header {
  font-weight: 500;
}

/* topbar */

.topbar {
  background-color: #333;
  color: #f7f2ee;
  width: 100%;
  height: 50px;
}

.topbar-list {
  max-width: 1250px;
  height: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar-left,
.topbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.topbar-side li:not(:last-child) {
  margin-right: 25px;
}

.topbar-side li:hover {
  color: #d1bf91;
  transition: 0.3s;
}

/* web logo */

.web-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin: 50px auto;
  text-align: center;
}

.logo-widget {
  display: flex;
  flex-direction: row;
}

.widget-left {
  margin-left: 50px;
}

.widget-right {
  margin-right: 50px;
}

.widget-icon {
  margin: 20px 25px 0;
}

.widget-icon-text {
  font-size: 15px;
  color: #565050;
  margin-top: 8px;
}

.widget-img {
  transition: all 0.3s linear;
}

.widget-icon:hover .widget-img {
  transform: translateY(-10px);
}

.logo .title {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  font-weight: 600;
  line-height: 1.2;
  color: #333;
}

.logo .slogan {
  text-transform: uppercase;
  color: #979797;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
}

/* nav menu */

#nav-menu,
.footer-menu {
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  background-color: #f7f2ee;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header-menu,
.footer-menu-list {
  max-width: 1250px;
  height: 100%;
  margin: auto 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
}

.menu-link i {
  margin-left: 5px;
}

.menu-link:hover {
  color: #868686;
}

/* sub menu */

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 1000px;
  background-color: #fff;
  height: 300px;
  border: 1px solid #ebebeb;
  z-index: 100;
  transition: all 0.25s ease-in-out;
  display: none;
}

/* .sub-menu.recipes {
  display: flex;
  flex-direction: row;
} */

/* .sub-menu-list {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  width: 20%;
  border-right: 1px solid #ebebeb;
} */

/* .sub-menu-item {
  padding: 12px 30px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.4s ease-in-out;
}

.sub-menu-item:hover {
  background-color: #f5f1e5;
}

.sub-menu-blogs {
  width: 80%;
} */

/* .blog-rows.desserts {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
} */

/* .blog-item {
  width: 20%;
  height: 250px;
  padding: 15px;
} */

/* .blog-item-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
} */

/* .blog-item:not(:last-child) {
  margin-right: 0;
}

.blog-item-image {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.blog-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
} */

/* .blog-item:hover img {
  transform: scale(1.1);
}

.blog-item-info {
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

.blog-item-date {
  margin-top: 3px;
  font-size: 14px;
  color: #979797;
} */

/* .sub-menu.recipes,
.sub-menu.main-dishes,
.sub-menu.breakfast,
.sub-menu.desserts {
  display: none;
} */

/* .sub-menu.blogs-row.barbecue,
.blogs-row.street-food,
.blogs-row.vegan-food {
  display: none;

} */

/* .header-menu > li:hover .sub-menu {
  display: block;
} */

/* content */

#content {
  width: 100%;
}

.readmore-btn {
  width: 140px;
  height: 45px;
  margin: 20px auto 0;
  color: #333;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmore-btn:hover {
  color: #fff;
  background-color: #333;
}

.banner .readmore-btn {
  width: 170px;
}

/* blog intro - banner */

.blog-intro {
  margin: 60px 50px 50px;
}

.banner {
  max-width: 1250px;
  height: 450px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.banner-image {
  width: 60%;
  height: 100%;
  position: relative;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 15px;
  border: 2px dashed rgba(67, 67, 67, 0.2);
}

.banner-image .today-recipe {
  position: absolute;
  top: 0;
  right: -40px;
  width: 85px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color: #333;
  background-color: #fff;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: shake 3s 10;
  transform-origin: top center;
}

.today-recipe i {
  margin-bottom: 10px;
}

@keyframes shake {
  20% {
    transform: rotate3d(0, 0, 1, 20deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -15deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 10deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.banner-info {
  width: 40%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.banner-info-inner {
  padding: 0 50px;
}

.banner-category,
.big-blog-category,
.small-blog-category {
  font-size: 16px;
  color: #979797;
  font-weight: 500;
  text-transform: uppercase;
}

.hr-line {
  width: 70px;
  height: 1px;
  background-color: rgba(175, 175, 175, 0.7);
  margin: 15px auto;
}

.banner-title,
.welcome-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.banner-date,
.big-blog-date,
.small-blog-date {
  margin-top: 10px;
  font-size: 15px;
  color: #979797;
}

/* featured categories */

.featured-categories {
  display: flex;
  flex-direction: row;
}

.category-item {
  display: block;
  width: 33.33%;
  height: 220px;
}

.category-item:not(:last-child) {
  margin-right: 50px;
}

.category-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}

.category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 8px 18px;
  z-index: 5;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.category-image::after {
  content: "";
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  left: 15px;
  top: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.category-item:hover .category-image::after {
  display: block;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.category-item:hover .category-image > img {
  transform: scale(1.06);
}

/* blog welcome */

.blog-welcome {
  text-align: center;
  margin-bottom: 50px;
}

.welcome-title {
  font-size: 40px;
  color: #333;
}

.blog-welcome .hr-line {
  width: 150px;
}

.welcome-details {
  margin-top: 20px;
  font-size: 20px;
  color: #979797;
}

/* blog container */

.blogs-container {
  max-width: 1250px;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  text-align: justify;
}

#sidebar {
  width: 25%;
}

.latest-blogs {
  width: 75%;
  margin-right: 50px;
}

/* latest blogs */

.section-title,
.sidebar-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.big-blog {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.big-blog-image {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px dashed #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.big-blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-blog-category,
.small-blog-category {
  margin: 15px 0 0;
  text-align: center;
}

.big-blog-title,
.small-blog-title {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 10px 0;
  text-align: center;
}

.big-blog-date,
.small-blog-date {
  text-align: center;
}

.big-blog .readmore-btn {
  width: 170px;
}

/* small blogs list */

.small-blogs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small-blog:not(:nth-child(2n)) {
  margin-right: 50px;
}

.small-blog {
  width: calc(50% - 25px);
  margin-bottom: 50px;
}

.small-blog-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px dashed #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.small-blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-blog-title {
  font-size: 20px;
}
