* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #1c1e21;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.fb-form {
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 396px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

.input-text {
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 17px;
  width: 330px;
  border: 1px solid #dddfe2;
}

.input-text:focus {
  outline: none;
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  /* Màu trỏ chuột */
  caret-color: #1877f2;
}

.input-text::placeholder {
  color: #888;
}

.email-phone,
.password {
  margin-bottom: 14px;
}

.login-btn button {
  color: #fff;
  background-color: #1877f2;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 330px;
  border: none;
}

.login-btn button:hover {
  background-color: #166fe5;
}
