/* Đây là chú thích trong file CSS */

/* Văn bản HTML khi chưa có CSS sẽ có phần margin mặc định, để loại bỏ cho margin: 0 */

* {
  margin: 0;
}
.truyen-kieu {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px !important;
  color: crimson;
  line-height: 1.5; /* Khoảng cách giữa các dòng */
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px;
}

.truyen-kieu {
  font-size: 30px;
}
