@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #464646;
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.box-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* footer */

.footer {
  color: #919294;
  background-color: #464646;
  font-size: 14px;
  line-height: 2.5;
  padding: 50px 7px;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.footer-info-col {
  padding: 15px;
  width: 25%;
}

.footer-info-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.footer-info-col a:hover {
  text-decoration: underline;
}

.social-lists {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.social-icon {
  font-size: 32px;
  margin: 0 15px 0 10px;
}

