.size {
  width: 250px;
  height: 200px;
  /* margin: 30px; */
}

.general {
  float: left;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#flex {
  clear: both;
  padding-top: 50px;
}

.parent {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
