.text p {
  text-align: justify;
}

.modal-backdrop {
  display: none;
}

.modal-backdrop.show {
  animation: fadein 0.4s linear;
}

.modal-backdrop.out {
  animation: fadeout 0.3s linear;
}

.modal.fade .modal-dialog {
  animation: dropmodal 0.4s linear;
}

.modal.out .modal-dialog {
  animation: fademodal 0.3s linear;
}

@keyframes dropmodal {
  0% {
    top: -15%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fademodal {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -15%;
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 5rem auto;
  }
}
