.popovers-wrapper {
  position: relative;
}

.popover-body,
.popover-header {
  padding: 0.5rem;
}

.top {
  top: -230%;
  transform: translateX(3%);
}

.bottom {
  top: 135%;
  transform: translateX(10%);
}

.right {
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
  right: -100%;
}

.left {
  top: 50%;
  transform: translateY(-50%);
  left: -105%;
}

.right .popover-arrow,
.left .popover-arrow {
  top: 50%;
  transform: translateY(-50%);
}

.top .popover-arrow,
.bottom .popover-arrow {
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 992px) {
  .container {
    flex-wrap: wrap;
    gap: 70px;
  }
}
